<a href="https://colab.research.google.com/github/Julkar1007/Codes/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Agenda
1. list
2. creating list
3. herating list
4. list operations
5. list slicing
6. list sorting
7. creating tuple
8. iterating tuple
9. inserting inti tuple
10. Unpacking sequences

# **Creating List**

In [ ]:
list0=[1,2,3,32,2.23,43.28,"python",[2,32,3]]
print(list0)
type(list0[-1])

[1, 2, 3, 32, 2.23, 43.28, 'python', [2, 32, 3]]

list

In [ ]:
list1=[]
print(list1)
list2=[]
print(list2)

[]
[]

# **Iterating List**

In [ ]:
list0=[1,2,3,32,2.23,43.28,"python",[2,32,3]]
for i in list0:
  print(i,end=' ')
print('')

1 2 3 32 2.23 43.28 python [2, 32, 3]

In [ ]:
list0=[1,2,3,32,2.23,43.28,"python",[2,32,3]]
print(list0[2])
print(list0[2])
print(list0[6])
print(list0[-2])
print(list0[-7])

3
3
python
python
2

In [ ]:
#list Operations
list1=[1,2,3,32,2.23,43.28,"python",[2,32,3]]
print(len(list1))

list1.append([12,2,12,2])
print(list1)

list1.insert(2,"pandas")
print(list1)

list1.remove(32)
print(list1)

print(list1.index("python"))

print(list1.count("pandas"))

print(list1.reverse())

list0=list1.copy()
print(list0)

list1.clear()
print(list1)

8
[1, 2, 3, 32, 2.23, 43.28, 'python', [2, 32, 3], [12, 2, 12, 2]]
[1, 2, 'pandas', 3, 32, 2.23, 43.28, 'python', [2, 32, 3], [12, 2, 12, 2]]
[1, 2, 'pandas', 3, 2.23, 43.28, 'python', [2, 32, 3], [12, 2, 12, 2]]
6
1
None
[[12, 2, 12, 2], [2, 32, 3], 'python', 43.28, 2.23, 3, 'pandas', 2, 1]
[]

In [ ]:
#LIST Slicing

list1=[1,2,3,32,2.23,43.28,"python",[2,32,3]]

print(list1[2:7])
print(list1[2:])
print(list1[:5])
print(list1[:])
print(list1[-3:-2])

[3, 32, 2.23, 43.28, 'python']
[3, 32, 2.23, 43.28, 'python', [2, 32, 3]]
[1, 2, 3, 32, 2.23]
[1, 2, 3, 32, 2.23, 43.28, 'python', [2, 32, 3]]
[43.28]

In [ ]:
#list sorting

list2=[1,2,4,2,5,6,2,6,7,4,5,2,4]

list3=sorted(list2)
print(list3)
print(list2)

list2.sort()
print(list2)

[1, 2, 2, 2, 2, 4, 4, 4, 5, 5, 6, 6, 7]
[1, 2, 4, 2, 5, 6, 2, 6, 7, 4, 5, 2, 4]
[1, 2, 2, 2, 2, 4, 4, 4, 5, 5, 6, 6, 7]

In [ ]:
#unpacking Sequences

lst=[2,3,423,43]
a,b,c,d=lst
print(a)
print(b)
print(c)
print(d)

2
3
423
43

1. Write a python program to print the numbers of a specified list after removing even numbers from it.
2. Write a python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30.
3. print common elements between two list.

In [ ]:
#1
list1=[1,2,3]
print(list1)
s=len(list1)
for i in range(0,s):
   if(list1[i]%2!=0):
     print(list1[i],end=" ")

[1, 2, 3]
1 3

In [ ]:
#2
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
list2=[]
list3=[]
for i in list1:
  if i<6:
    list2.append(i**2)
  if i>25:
    list3.append(i**2)  

print(list2)
print(list3)

[1, 4, 9, 16, 25]
[676, 729, 784, 841, 900]

In [ ]:
#3
list1=[1,2,3,4]
list2=[2,4,6,8]
list3=[]


for i in range(0,4):
  for j in range(0,4):
    if list1[i]==list2[j]:
      list3.append(list1[i])

print(list3)

[2, 4]